.bg-archaeology {
	background-color: #935632 !important;
}

.border-archaeology {
	border-color: #935632 !important;
}

.ka-area {
	min-height: 370px;
}

.ka-area-title {
	font-size: 1.125rem;
	font-weight: 600;
}

.ka-area-icon {
	background: red;
	width: 60px;
	height: 60px;
	margin: 15px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center;
}

.ka-area-requirements > lang-string {
	margin-bottom: 10px;
}

.ka-area-requirement > img {
	margin-right: 10px;
}

.ka-col {
	display: flex;
	flex-direction: column;
}

.ka-mastery-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
}