.bg-archaeology {
	background-color: #935632 !important;
}

.border-archaeology {
	border-color: #935632 !important;
}

.ka-area {
	min-height: 370px;
}

.ka-area-title {
	font-size: 1.125rem;
	font-weight: 600;
}

.ka-area-icon {
	width: 60px;
	height: 60px;
	margin: 15px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center;
}

.ka-area-requirements > lang-string {
	margin-bottom: 10px;
}

.ka-area-requirement > img {
	margin-right: 10px;
}

.ka-col {
	display: flex;
	flex-direction: column;
}

.ka-mastery-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
}

.ka-grid-auto-1fr {
	display: grid;
	grid-template-columns: auto 1fr;
}

.ka-h-1-rem {
	height: 1rem;
}

.ka-progress-icon {
	width: 26px;
	height: 26px;
}

.ka-mastery {
	font-size: 70%;
}

.ka-mastery-icon {
	background-image: url('assets/media/main/mastery_header.svg');
	background-size: contain;
}

ka-skill-selector {
	display: block;
}

ka-skill-selector > img {
	width: 56px;
	height: 56px;
	margin: 10px;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
}

ka-skill-selector > img.selected {
	background-color: #277548;
}

ka-puzzle-box {
	display: block;
	width: 320px;
	height: 320px;
	position: relative;
	margin: auto;
}

ka-puzzle-box > div {
	color: white;
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 30%;
	position: absolute;
	transition: left 0.2s ease-out, top 0.2s ease-out;
	cursor: pointer;
	background-size: calc(300% + (100% / 3));
}

ka-challenge-wheel {
	position: relative;
	display: block;
	overflow: hidden;
}

ka-challenge-wheel img {
	position: absolute;
	left: 0;
	transition: transform 0.2s ease-out;
}

.ka-button-shelf > div {
	position: absolute;
	left: 0;
	right: 0;
}

.ka-wheel-container {
	position: relative;
	height: 470px;
	overflow: hidden;
}

.ka-combo-digit-dial {
	width: 60px;
	height: 70px;
	box-shadow: inset black 0 0 20px;
	overflow: hidden;
	position: relative;
	margin: 0 10px;
}

.ka-combo-digit-dial > div {
	position: absolute;
	transition: top 0.2s linear;
	top: 0;
}

.ka-combo-digit {
	color: white;
	width: 60px;
	height: 70px;
	display: flex;
	align-items: center;
	font-size: 4rem;
	justify-content: center;
}

ka-volcanic-chest {
	display: block;
	overflow: hidden;
}

ka-volcanic-chest > img {
	width: 200px;
	margin-bottom: 20px;
	cursor: pointer;
	transform: rotate(0deg);
}

ka-volcanic-chest > img.jiggle {
	animation: jiggle 0.2s ease-in-out;
}

@keyframes jiggle {
	0% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}

ka-volcanic-chest > span {
	display: block;
	margin-bottom: 10px;
}

.ka-lock-bar {
	height: 30px;
	position: relative;
	display: flex;
	align-items: center;
}

.ka-lock-bar-fill {
	height: 25px;
	width: 100%;
	position: relative;
	background-color: #ffa900;
}

.ka-lock-bar-button {
	width: 10px;
	height: 30px;
	background: #00fff8;
	border-radius: 5px;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.ka-lock-bar-hotspot {
	width: 40px;
	background-color: red;
	height: 100%;
	position: absolute;
	left: 20%;
	transform: translateX(-50%);
}

.ka-lock-bar-hotspot::before,
.ka-lock-bar-hotspot::after {
	content: '';
	position: absolute;
	width: 60px;
	height: 100%;
	background-color: #ff7500;
}

.ka-lock-bar-hotspot::before {
	right: 100%;
}

.ka-lock-bar-hotspot::after {
	left: 100%;
}