<template id="template-kru-archaeology-container">
	<div class="content d-none" id="kru-archaeology-container">
		<div class="skill-info">
			<div class="block block-rounded">
				<div class="progress active mb-1 border border-top border-1x border-dark" style="height: 8px">
					<div class="progress-bar bg-info" role="progressbar" :style="{ width: (state.current_level_frac * 100) + '%' }" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="block-header text-center pt-0 pb-0">
					<ul class="nav-main nav-main-horizontal nav-main-horizontal-override font-size-xs w-100">
						<li class="m-1" style="min-width: 30%;"><span class="font-w600"><lang-string lang-id="MENU_TEXT_SKILL_LEVEL">Skil Level</lang-string></span> <span class="p-1 bg-success rounded font-w600">{{ state.skill_level }} / {{ state.skill_level_max }}</span></li>
						<li class="m-1" style="min-width: 30%"><span class="font-w600"><lang-string lang-id="MENU_TEXT_SKILL XP">Skill XP</lang-string></span> <span class="p-1 bg-info rounded font-w600">{{ formatNumber(state.skill_xp) }} / {{ formatNumber(state.next_level_xp) }}</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row row-deck">
			<div class="col-4 col-xl-4" v-for="(digsite, digsite_id) in state.content.digsites">
				<div class="block block-rounded border-top border-archaeology border-4x ka-area">
					<div class="ka-grid-auto-1fr">
						<div class="ka-area-icon" :style="{ backgroundImage: 'url(' + state.assets.digsite_desert + ')'}"></div>
						<div class="ka-col justify-content-center">
							<span class="ka-area-title">{{ digsite.name }}</span>
						</div>
					</div>
					<!-- Digsite Requirements -->
					<div class="ka-col align-items-center justify-content-center mt-4" v-if="!digsite.state.unlocked">
						<lang-string lang-id="MOD_KA_CONSTRUCTION_REQUIREMENTS">Construction Requirements:</lang-string>
						<div class="d-flex align-items-center" v-for="(r_value, r_id) in digsite.requirements">
							<img class="skill-icon-xs" :src="state.get_requirement_icon(r_id)">
							<span class="ka-area-requirement-string" :data-require-value="r_value" :data-require-id="r_id">{{ state.format_requirement_string(r_id, r_value) }}</span>
						</div>
						<div class="text-center mt-2">
							<button role="button" class="btn btn-sm btn-success m-1 mt-3" @click="state.unlock_digsite(digsite)">Construct Digsite</button>
							<button role="button" class="btn btn-sm btn-info m-1" @click="state.debug_give_requirements(digsite)">Debug</button>
						</div>
					</div>
					<div v-else>
						<!-- Digsite Unlocked UI -->
						<div class="ka-col mt-2">
							<!-- Pristine Collection -->
							<div class="ka-col align-items-center mb-2">
								Pristine Collection
								<div class="row">
									<div class="bank-item no-bg btn-light pointer-enabled m-1 resize-32">
										<img class="bank-img p-2 resize-32" src="assets/media/main/question.svg">
									</div>
									<div class="bank-item no-bg btn-light pointer-enabled m-1 resize-32">
										<img class="bank-img p-2 resize-32" src="assets/media/main/question.svg">
									</div>
									<div class="bank-item no-bg btn-light pointer-enabled m-1 resize-32">
										<img class="bank-img p-2 resize-32" src="assets/media/main/question.svg">
									</div>
									<div class="bank-item no-bg btn-light pointer-enabled m-1 resize-32">
										<img class="bank-img p-2 resize-32" src="assets/media/main/question.svg">
									</div>
									<div class="bank-item no-bg btn-light pointer-enabled m-1 resize-32">
										<img class="bank-img p-2 resize-32" src="assets/media/main/question.svg">
									</div>
								</div>
							</div>
							<!-- Icons -->
							<div class="col-12 row justify-content-center gutters-tiny text-center mb-3">
								<div class="bank-item no-bg btn-light pointer-enabled m-1 resize-32">
									<img class="bank-img p-2 resize-32" src="assets/media/main/xp.svg">
									<div class="font-size-xs text-white text-center ka-col align-items-center" style="bottom: -8px">
										<small class="badge-pill bg-secondary">{{ formatNumber(digsite.xp) }}</small>
									</div>
								</div>
								<div class="bank-item no-bg btn-light pointer-enabled m-1 resize-32">
									<img class="bank-img p-2 resize-32" src="assets/media/main/coins.svg">
									<div class="font-size-xs text-white text-center ka-col align-items-center" style="bottom: -8px">
										<small class="badge-pill bg-secondary">{{ formatNumber(digsite.gp) }}</small>
									</div>
								</div>
							</div>
							<!-- Digsite Time -->
							<div class="h5 font-w400 font-size-sm text-combat-smoke mb-2 text-center">
								<i class="far fa-clock mr-1"></i>
								<span>{{ state.format_ticks(digsite.duration) }}</span>
							</div>
							<!-- Digsite Progress -->
							<div class="ka-grid-auto-1fr align-items-center mr-4 ml-4" v-if="digsite.state.active">
								<div class="ka-progress-icon mr-2" :style="{ backgroundImage: 'url(' + state.assets.archaeology + ')'}"></div>
								<div class="progress active ml-1 ka-h-1-rem">
									<div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{ width: ((1 - (digsite.state.ticks_remaining / digsite.duration)) * 100) + '%' }"></div>
								</div>
							</div>
							<!-- Digsite Buttons -->
							<div class="text-center mt-2">
								<button role="button" class="btn btn-sm btn-danger m-1" @click="state.stop_excavating()" v-if="digsite.state.active">
									<div class="spinner-border spinner-border-sm mr-1" role="status"></div>
									<span>Stop Excavating</span>
								</button>
								<button role="button" class="btn btn-sm btn-success m-1" @click="state.start_digsite(digsite)" v-else>Start Excavating</button>
								<button role="button" class="btn btn-sm btn-info m-1">Show Drops</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</template>

<template id="template-kru-archaeology-sidebar">
	<small>({{ state.skill_level }} / {{ state.skill_level_max }})</small>
</template>